{#
/**
 * @file
 * Default theme implementation for Symfony Email.
 *
 * Variables:
 * - body: Email body content.
 *
 * @see template_preprocess_email()
 *
 * @ingroup themeable
 */
#}

<div>
    <table
            style="margin: 15px auto 0 auto; max-width: 768px; font-family:Roboto,'Segoe UI','Helvetica Neue',Frutiger,'Frutiger Linotype','Dejavu Sans','Trebuchet MS',Verdana,Arial,sans-serif;color:#333333;font-size:14px;font-weight:400;">
        <tbody>
        <tr>
            <td style="width:100%;border-bottom:1px solid #f4f4f4;padding-bottom:1em;text-align:center;" colspan="2">
                    <a href="{{ url('<front>') }}"><img src="{{ logo_path }}" alt="{{ site_name }} logo" />
                </a>
            </td>
        </tr>
        <tr>
            <td style="padding: 1em 0;">
                <div style="padding: 0px 0px 0px 0px;">
                    {{ body }}
                </div>
            </td>
        </tr>
        <tr>

            <td style="padding:1em 0 0.5em 0;border-top:1px solid #f4f4f4;text-align:center;">Boom- en handelskwekerij aqua - Vogelstraat 68 - 1600 Sint-Pieters-Leeuw - 32 (0)2 376 67 90 - info@boomkwekerijaqua.be</td>
        </tr>
    </table>
</div>
