.card {

  &--product,
  &--category {
    border-radius: $border-radius;
    overflow: hidden;
  }
}

.card__content,
a.card__content {

  &--article {
    padding: 0 $border-radius; //to match image border-radius
  }
}

a.card .card__content--category {
  position: relative;
  top: initial;
  left: initial;
  transform: none;
  padding: 0;

  @include medium {

    left: $space;
    padding: $space $space 0 $space;
    width: calc(100% - 2rem);
    background: clr(bg);
    border-radius: $border-radius $border-radius 0 0;
    transform: translate(0, -50%);
  }
}

.card__title_link {
  &--article {
    color: clr(text);
  }
}

.card__image {
  &--article {
    border-radius: $border-radius;
  }

}