.card {

  &--product,
  &--category {
    border-radius: $border-radius;
    overflow: hidden;
  }

  &--category {

    @include medium {
      margin-bottom: $space-double;
      &:last-child{   margin-bottom: $space-double;}
    }

  }
}

.card__content,
a.card__content {

  &--product {
    padding: $space $space-double $space-double $space-double;
  }
  &--article {
    padding: 0 $border-radius; //to match image border-radius
  }
}

a.card .card__content--category {
  top: auto;
  left: $space;
  bottom: -$space;
  transform: none;
  width: calc(100% - 2rem);
  padding: $space $space 0 $space;
  background: clr(bg);
  border-radius: $border-radius $border-radius 0 0;
}

.card__title {
  &--category {
    @include heading-small($color: clr(heading-text));
  }
}

.card__title_link {
  &--article {
    color: clr(text);
  }
}

.card__image {
  &--article {
    border-radius: $border-radius;
  }

}