$white: white;
$near-white: #fffcff;
$gray-lightest: #F8F4F3;
$gray-lighter: #e6e6ea;
$gray-light: #ccc;
$gray: #7d7d7d;
$gray-dark: #4c4c4c;
$gray-darker: #324039;
$black: #223843;

//Theme

$orange: #F1A660;
$green: #1C7356;
$blue: #97D3D9;
$blue-light: #E6F3F4;



$primary: $orange;
$secondary: $blue;
$accent: $orange;