$white: white;
$near-white: #fffcff;
$gray-lightest: #F8F4F3;   
$gray-lighter: #e6e6ea;
$gray-light: #ccc;
$gray: #7d7d7d;
$gray-dark: #4c4c4c;
$gray-darker: #324039;
$black: #223843;

//Theme


//$primary: #deb32e;
//$secondary: #81171b;



$primary: #1e7c5e;
$secondary: #39c3e8;
$accent:#ef9543;



