$font-family: 'Mukta', sans-serif;
$heading-font-family: 'Lexend Deca', sans-serif;

$h1-font-family: $heading-font-family;
$h2-font-family: $heading-font-family;
$h3-font-family: $font-family;
$h4-font-family: $font-family;
$h5-font-family: $font-family;

$h1-font-size: 2.5rem;
$h2-font-size: 2.25rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1rem;

$heading-font-weight: 500;
$h1-font-weight: $heading-font-weight;
$h2-font-weight: $heading-font-weight;
$h3-font-weight: $heading-font-weight;
$h4-font-weight: $heading-font-weight;
$h5-font-weight: $heading-font-weight;

$line-height: 1.65rem;

$sidebar-width: 18%;
//$font-heading: $font-body;

//$font-weight-heading: 600;

//$box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
$border-radius: $space-double;

$main-menu-font-family: $heading-font-family;
//$main-menu-font-size: 1rem;
$main-menu-font-weight: 500;
$main-menu-text-transform: uppercase;
$main-menu-letter-spacing: 1px;
