.node--1 {
  background: clr(bg-alt);
  border-radius: $border-radius;
  overflow: hidden;
  margin: 0 $wrapper-h-padding-mobile;

  @include medium {
    margin: 0 $wrapper-h-padding;
  }
}

.node__content {
  .node--1 & {
    display: flex;
    flex-direction: column;



    @include large {
      flex-direction: row;
      align-items: stretch;
    }
  }
}

.node__title--front-page {

  @include heading-xl($margin: 0);
}



.node__body {
  .node--1 & {
    order: 1;

    @include large {
      order: 2;
      flex: 1;
      padding: 8%;
    }
  }
}

.node__images {
  .node--1 & {
    order: 2;

    @include large {
      order: 1;
    }

    margin: 0;
    float: none;
    flex: 0 0 50%;
  }
}

.node__image {
  .node--1 & {
    @include large {
      height: 100%;
      margin-bottom: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}