.carousel_item__content {
  &--hero {
    @include large {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.carousel_item__content__inner {
  &--hero {
    background: clr(bg-alt);
    color: clr(text);
    border-radius: $border-radius;
    padding: $space;
    text-align: center;

    @include large {
      padding: $space-quadruple;
      width: 40%;
      width: 34rem;
    }
  }
}

.carousel_item__title {
  &--hero {

    @include large {
      font-size: $h1-font-size;
    }
  }
}

.carousel_item__body__wrapper {
  font-size: $font-size;

  >p:first-child {
    margin: 0;
  }
}

.carousel_item__button__wrapper {
  justify-content: center;
}